@model WebApplication1.Models.Entities.Product
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yeni Ürün Sayfası</h2>
<form class="container" action="/" method="post">
    <div class="form-group">
        <label class="form-label" asp-for="ProductName"></label>
        <input class="form-control" asp-for="ProductName" class="form-control mt-2" />
    </div>
    <div class="form-group">
        <label class="form-label" asp-for="Brand"></label>
        <input class="form-control" asp-for="Brand" class="form-control mt-2" />
    </div>
    <div class="form-group">
        <label class="form-label" asp-for="Brand"></label>
        <input class="form-control" asp-for="Brand" class="form-control mt-2" />
    </div>
    <div class="form-group">
        <label class="form-label" asp-for="Brand"></label>
        <input class="form-control" asp-for="Brand" class="form-control mt-2" />
    </div>
    <div class="form-group">
        <label class="form-label" asp-for="Brand"></label>
        <input class="form-control" asp-for="Brand" class="form-control mt-2" />
    </div>

    <div class="form-group">
        <label class="form-label" asp-for="Brand"></label>
        <input class="form-control" asp-for="Brand" class="form-control mt-2" />
    </div>
   
    
    <button class="btn btn-success mt-2">Ekle</button>
</form>