@model WebApplication1.Models.Entities.Category;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Kategori Güncelle</h2>

<form asp-action="Update" asp-controller="Category" method="post">
    <div class="form-group">
        <label asp-for="CategoryName"></label>
        <input asp-for="CategoryName"/>
    </div>
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-primary">Güncelle</button>

</form>